.icon {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    top: 7.50px;
    box-sizing: border-box;
    z-index: 2;
    color: $text-color;
}


nav {
    position: fixed;
    top: 7.50px;
    left: 10px;
    overflow: hidden;
    height: 30px;
    width: 30px;
    transition: height 0.5s, width 0.5s, top 0.5s, right 0.5s;
    transition-duration: 1s;
    z-index: 2;
}

nav.is-open {
    background-color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.open {
    display: flex;
    align-items:center;
    justify-content: center;
    position: fixed;
    top: 7.50px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.open-icon {
    transition: background-color 0.3s;
}

.open-icon,
.open-icon::before,
.open-icon::after {
    width: 20px;
    height: 3.28px;
    background: $text-color;
    border-radius: 45px;

}

.open-icon::before,
.open-icon::after {
    content: '';
    display: block;
    transition: transform 0.3s;
}

.open-icon::before {
    transform: translateY(-7px);
}

.open-icon::after {
    transform: translateY(4px);
}

nav.is-open .open-icon {
    background-color: transparent;
}

nav.is-open .open-icon::before {
    transform: translateY(0px) rotate(45deg);
}
nav.is-open .open-icon::after {
    transform: translateY(-2.5px) rotate(-45deg);
}

.menu {
    position : fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    list-style-type: none;
    opacity:0;
    transition: opacity 0.5s;
    transition: all 0.5s;
    transform: translate(calc(50vw -40px), calc(-50vw +40px)) scale(0.2);
}



nav.is-open .menu {
    transform: none;
    opacity: 1;
}

nav:not(.is-open) .menu {
    pointer-events: none;

}

.menu__item {
    font-size: 18px; 
    font-family: 'ProzaLibre';
    font-weight: 900;
    color: $text-color;
    font-style: normal;
    text-decoration: none;
    &:hover {
        transform: scale(1.2);
        transition: all 0.5s ease ;
        }
    
    
}

.menu__item:not(:last-child) {
    margin-bottom:20px;
}

.menu__item--link {
    text-decoration: none;
    color: $text-color;

}
